<!-- index.hbs -->
<h1>Server is Running </h1>
<p>If you see this text, the server is working. <br> 
If you see an Items table below, then we are connected to the DB. </p> 


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


{{!-- Create a table --}}
<table id="items-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        {{#each css}}
            <link rel="stylesheet" href="/css{{this}}">
        {{/each}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.item_id}}>
            <td>{{this.item_id}}</td>
            <td>{{this.supplier_id}}</td>
            <td>{{this.material_id}}</td>
            <td>{{this.color_id}}</td>
            <td>{{this.in_stock}}</td>
            <td>{{this.qty_on_hand}}</td>
            <td>{{this.price}}</td>
            <td><button onclick="deleteItem({{this.item_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_item.js"></script>

{{!-- Search --}}
<h2>Search Using an HTML Form</h2>
<p>Search by material ID</p>
<form id="search-item-html" method='GET' action='/'>
    <label for="input-material_id">Search by Material: </label>
    <input type="text" name="material_id" id="input-material_id-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Adding Data using an HTML form</h2>
<p>To add a new Item, please enter its information below and click 'Submit'!</p>
<form id="add-item-form" method="POST" action="/add-item-form">

    <label for="input-supplier_id">Supplier ID: </label>
<!-- <input type="text" name="input-supplier_id" id="input-supplier_id"> -->
    <select name="input-supplier_id" id="input-supplier-html">
        <option value="">Select a Supplier</option>
        {{#each suppliers}}
        <option value="{{this.supplier_id}}">{{this.supplier_name}}</option>
        console.log(value)
        {{/each}}
    </select>
    
    <label for="input-material_id">Material ID: </label>
    <input type="text" name="input-material_id" id="input-material_id">
    <!--<select name="input-material" id="input-material-html">
        <option value="">Select a Material</option>
        {{#each materials}}
        <option value="{{this.id}}">{{this.material_id}}</option>
        {{/each}}
    </select> -->

    <label for="input-color_id">Color ID: </label>
    <input type="text" name="input-color_id" id="input-color_id">

    <label for="input-in_stock">In stock? </label>
    <input type="text" name="input-in_stock" id="input-in_stock">

    <label for="input-qty_on_hand">Current quantity: </label>
    <input type="text" name="input-qty_on_hand" id="input-qty_on_hand">

    <label for="input-price">Price: </label>
    <input type="text" name="input-price" id="input-price">

    <input type="submit">



<h2>Updating an item form</h2>
<p>To update a specific item select it</p>
<form id="update-item-form-ajax">
    <label for="input-item_id">Item ID: </label>
    <select name="input-item_id" id="mySelect">
        <option value="test">Select an Item</option>
        {{#each data}}
        <option value="{{this.item_id}}">{{this.item_id}}</option>
        {{/each}}
    </select>
    <label for="input-supplier_id">Supplier ID: </label>
    <select name="input-supplier" id="input-supplier-html">
        <option value="">Select a Supplier</option>
        {{#each suppliers}}
        <option value="{{this.id}}">{{this.supplier_name}}</option>
        {{/each}}
    </select>

    <label for="input-material_id">Material ID: </label>
    <input type="text" name="input-material_id" id="input-material_id">

    <label for="input-color_id">Color ID: </label>
    <input type="text" name="input-color_id" id="input-color_id">

    <label for="input-in_stock">In stock? </label>
    <input type="text" name="input-in_stock" id="input-in_stock">

    <label for="input-qty_on_hand">Current quantity: </label>
    <input type="text" name="input-qty_on_hand" id="input-qty_on_hand">

    <label for="input-price">Price: </label>
    <input type="text" name="input-price" id="input-price">

    <input type="submit">
</form>
<script src="./js/update_person.js"></script>
